[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jsglue = "*"
flask-wtf = "*"
python-dotenv = "*"
requests = "*"
gunicorn = "*"
flask-analytics = "*"

[dev-packages]
"flake8" = "*"
rope = "*"

[requires]
python_version = "3.6"
