<meta name="theme-color" content="#b62828">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico', time=cache_buster) }}">
<link rel="apple-touch-icon-precomposed" sizes="256x256" href="{{ url_for('static', filename='apple-touch-icon-precomposed.png') }}">
<meta name="title" content="Are You on a Date?">
<meta name="description" content="Determine if you are currently on a date!">

<meta property="og:site_name" content="date.codetri.net">
<meta property="og:type" content="website">
<meta property="og:title" content="Are You on a Date?">
<meta property="og:url" content="https://date.codetri.net">
<meta property="og:image" content="https://date.codetri.net{{ url_for('static', filename='social-media-card.png') }}">
<meta property="og:description" content="Determine if you are currently on a date!">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@cely717">
<meta name="twitter:creator" content="@cely717">
<meta name="twitter:title" content="Are You on a Date?">
<meta name="twitter:description" content="Determine if you are currently on a date!">
<meta name="twitter:image:src" content="https://date.codetri.net{{ url_for('static', filename='social-media-card.png') }}">
