<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Are You On A Date? {{ page_title|default("") }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico', time=cache_buster) }}">
  {% block noscript %}{% endblock %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i|Lobster+Two:400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', time=cache_buster) }}">
  <link type="text/plain" rel="author" href="{{ url_for('static', filename='humans.txt') }}">
  <!-- TODO Social media meta tags -->
</head>

<body>
  <header>
    <img height="100" src="{{ url_for('static', filename='candle.png') }}" alt="">
    <h1>Are You On A Date?</h1>
    <img height="100" src="{{ url_for('static', filename='candle.png') }}" alt="">
  </header>

  <main>
  {% block content %}{% endblock %}
  </main>

  <footer>
    <a href="{{ url_for('date.privacy') }}">Privacy Policy</a>
  </footer>

  {{ JSGlue.include() }}
  {%- block scripts %}{% endblock %}
  <script>
    // Add indicator class when lacking geolocation data
    // in in order to display messages that say that
    if (window.sessionStorage.getItem("location-denied")) {
      document.body.classList.add("no-geo");
      window.sessionStorage.removeItem("location-denied");
    }
  </script>
</body>
</html>
