<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico', time=cache_buster) }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Zilla+Slab:600|Montserrat:400">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', time=cache_buster) }}">
  <title>Are You On A Date?</title>
</head>

<body class="no-geo">
  <header>
    <img height="100" src="{{ url_for('static', filename='candle.png') }}" alt="">
    <h1>Are You On A Date?</h1>
    <img height="100" src="{{ url_for('static', filename='candle.png') }}" alt="">
  </header>

  <main>
  {% block content %}
  {% endblock %}
  </main>

  <footer>
    <p>Privacy disclaimer: Your privacy is valued. The results of this assessment are not shared with the creator or third-parties. If you permit, your current location is used solely to improve the assesment's results. The state of your dating life, regardless of sadness level, is strictly between you and anyone else looking at your screen right now.</p>
  </footer>

  {{ JSGlue.include() }}
</body>
</html>
