<h2>No.</h2>
<p>How was this determined? Quite simply, really. Try asking yourself the following questions:</p>
<ul>
  <li>Did you previously arrange with the person for this to be a date?</li>
  <li>Did you ask someone who is not sitting across from you if this is a date?</li>
</ul>
<p>If you cannot answer these questions in an explict manner to indicate a date, then you are not on a date.</p>

<div class="geo-msg">
  <h3>By the way&hellip;</h3>
  <aside>You denied location access when visiting this site. That can provide an inaccurate assesment as well. If you would like a potentially more accurate assesment, <a href="{{ url_for('date.index') }}">re-run the assessment</a> and allow access to your location. Your location will be used solely to evaluate your date status and nothing more. Promise.</aside>
</div>
