{% extends 'base.html' %}
{% block content %}

<h2>Before we begin&hellip;</h2>
<p>In order to assess if you are on a date or not, we would like to have access to your current location. This will allow us to accurately assess your date status. You might consider reading our <a href="{{ url_for('date.privacy') }}">privacy policy</a> before continuing on (tl;dr: we don't want your info).</p>

{% include 'forms/form-permission.html' %}
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js', time=cache_buster) }}"></script>
{% endblock %}
