{% extends 'base.html' %}
{% block content %}

<h2>Privacy Policy</h2>
<h3>tl;dr: We don't want your info</h3>
<p>Your privacy is valued. The result of this assessment are not shared with the creator or third-parties. Your current location is used solely to perform the assessment. The state of your dating life, regardless of sadness level, is strictly between you and anyone else looking at your screen right now.</p>

<p>Speaking of your current location, the only reason we request it is to make use of the <a target="_blank" rel="nofollow noopener noreferrer" href="https://www.yelp.com/">Yelp</a> <a target="_blank" rel="nofollow noopener noreferrer" href="https://www.yelp.com/developers">API</a> to determine where you are for the purpose of determining if you are on a date. That's it. We don't store it or give it to anyone. Pinky promise. If you are paranoid, you can view this site's <a target="_blank" rel="nofollow noopener" href="https://github.com/le717/AreYouOnA.date">source code</a> and see for yourself.</p>

<h1 style="text-align: center;"><a href="{{ url_for('date.index') }}">Determine your date status</a></h1>
{% endblock %}
