*, *::before, *::after { box-sizing: border-box; }
html {
  min-width: 320px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;

  margin: 0;
  padding: 0;

  background-color: #b62828;

  font-family: "Montserrat", serif;
  font-size: 18px;
  line-height: 2.0;
  font-weight: 400;
  color: #fff;
}

a {
  padding: 0 0.2em 0.2em 0.2em;
  background-color: rgba(28, 21, 140, 0.5);

  text-decoration: none;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  font-family: "Lobster Two", "Montserrat", serif;
  color: #fff;
  letter-spacing: 1px;
}
a:focus,
a:hover {
  background-color: rgba(28, 21, 140, 0.3);
}

h1, h2, h3 {
  font-family: "Lobster Two", "Montserrat", serif;
  font-weight: 700;
  margin-bottom: -0.75em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

header {
  padding: 0.5em;
  flex: none;
  display: flex;
  justify-content: center;
}

header h1 { text-align: center; }

header img {
  margin-right: 1em;
  margin-left: 1em;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

main {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  flex: 1 0 auto;
}

footer {
  width: 87%;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  flex: none;
  padding: 0.9em;
  text-align: center;
}

.geo-msg {
  font-size: 0.9em;
  display: none;
}

.no-geo .geo-msg {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin-top: 1em;
}

form label:first-of-type {
  text-align: center;
  font-size: 0.9em;
  cursor: pointer;
}

form button {
  width: 21em;
  border: 2px solid #fff;
  border-radius: 3px;
  outline: none;
  font-size: 0.85em;

  padding: 1em;

  background-color: transparent;
  font-family: inherit;
  color: #fff;
  cursor: pointer;

  transition: color 0.2s linear,
              background-color 0.2s linear;
}

form button:hover,
form button:focus {
  color: #b62828;
  background-color: #fff;
}
