<form method="POST">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <label>
    <input type="checkbox" name="college" id="college">
    Check this if you are a college student<br>
    <small>(We understand you're broke)</small>
  </label>

  <label>
    <button type="button" name="permission-yes" value="yes">
      Yes, you may access my location<br>
      <small>(A dialog will appear after clicking this)</small>
    </button>
  </label>

  <label><button type="button" name="permission-no" value="no">No, you may not access my location</button></label>
</form>
